@import "../../assets/styles/color.scss";

.carousel {
  width: 50%;
  height: 100vh;

  @media screen and (max-width: 1040px) {
    width: 40%;
  }

  @media screen and (max-width: 780px) {
    display: none !important;
  }

  .carousel-indicators {
    margin-bottom: 32px;

    li {
      margin: 0 3px;
      width: 8px;
      height: 8px;
      border-radius: 100%;
      border: none;
      background: $white-color2;
    }

    li.active {
      background: $green-color;
    }
  }

  .carousel-control-prev,
  .carousel-control-next {
    width: 64px;

    .carousel-control-next-icon,
    .carousel-control-prev-icon {
      background-image: url("../../assets/icons/next-icon.svg");
    }

    .carousel-control-prev-icon {
      transform: rotate(180deg);
    }
  }

  .carousel-control-next:focus,
  .carousel-control-next:hover,
  .carousel-control-prev:focus,
  .carousel-control-prev:hover {
    background-color: $green-color;
    opacity: 0.2;
  }

  .carousel-inner {
    .slider {
      .slider-image {
        height: 100vh;
        width: 100%;
      }

      .slider-gradient {
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
      }

      .carousel-caption {
        top: 0;
        bottom: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;

        .slider-title {
          margin-bottom: 8px;
          font-size: 48px;
          font-weight: 500;
          line-height: 47px;
          color: $white-color1;
        }

        .slider-sub-title {
          margin-bottom: 32px;
          font-size: 24px;
          font-weight: 300;
          line-height: 90%;
          color: $white-color2;
        }

        .slider-button {
          height: 48px;
          width: 164px;
          border-radius: 4px;
          border: none;
          font-size: 18px;
          line-height: 21px;
          color: $white-color2;
        }
      }
    }
  }
}
